# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
playwright-report/
test-results/
dist

# Node dependencies
node_modules
./worker/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/generated/prisma

简历.docx
问答.md
总结.md
Prisma初始化.md
Nuxt项目的api模块组织.md

/backend/vendor/

#vscode
.vscode
./worker/.vscode
