@import "tailwindcss";

@theme {
  --color-background: #e7f2ff;
  --color-primary: #4b7cb6;
  --color-text-primary: #2d3c4e;
  --color-accent: #ff9f9b;
}

body {
  @apply bg-background
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
  scrollbar-gutter: stable;
}

.toast-enter-from {
  @apply opacity-0
}

.toast-enter-active,
.toast-leave-active,
.toast-move {
  @apply transition-all duration-500
}

.toast-leave-to {
  @apply opacity-0
}